altair
autocorrect
blinker
gitpython
honcho
importlib-metadata
importlib-resources
mediapipe-model-maker
openai-whisper
pip-chill
pyarrow
pyaudio
pydeck
pygame
pysimplegui
rich
speechrecognition
tenacity
tornado
tzlocal
validators
watchdog
